@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Space Grotesk';
  src: url('./font/SpaceGrotesk-Regular.woff2') format('woff2'),
      url('./font/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



